/* css for contact html  */
.body {
    background-image: url("../image/skylinewall.jpeg");
    background-repeat: n;
    background-size: cover;
  }
  /* .navbar {
    background-color: #eee7e1;
  } */
  .navbar {
    box-sizing: content-box;
    background-color: #ca782a;
    margin-top: auto;
  
  } 
  .column-md-8 {
    margin: 30px;
  }
h1 {
    size: 4px;
}
h4 {
  color: white;
  font-size: 30px;
}
text {
color: azure;
}
fname {
color: azure;
}
lname {}

input, label {
  display: block;
}
 /* Style inputs with type="text", select elements and textareas  */
input[type=text], select, textarea {
  width: 50%;  
  padding: 10px;  
   border: 1px solid #ccc;  
   border-radius: 10px; 
   box-sizing: border-box; 
   margin-top: 20px;  
   margin-bottom: 30px;  
   resize: vertical; 
}    

 /* Style the submit button with a specific background color etc  */
 input[type=submit] {
  background-color:#3F729B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

/* When moving the mouse over the submit button, add a darker green color */
 input[type=submit]:hover {
  background-color: #3F729B; 
 } 

/* Add a background color and some padding around the form */
 /* .container {
  border-radius: 0px;
  background-color: #ca782a;
  padding: 10px;
  margin-left: 30px;
} */

p {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(233, 30, 99, 0.1);
  color: white;
  text-align: center;
}