body {
    font-family: "Monserrat-Black", sans-serif;
    padding: 0px;
  }
  
  /* Fonts */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Monserrat-Bold", sans-serif;
  }
  
  h1 {
    font-size: 55px;
    color: #f3f6f8;
  }
  
  h3 {
    color: #f3f6f8;
    font-size: 25px;
    margin-left: 60px;
  }

  /* About Me */
  

  .main-pic {
    border-radius: 50%;
    margin: 80px 60px 0px 20px;
  }
  
  .p-tag {
    max-width: 500px;
    display: flex;
    text-align: left;
    justify-content: right;
    margin: 200px 60px 0px 20px;
  }
  
  
  /* Footer */
  
  .footer {
    position: fixed;
    left: 270;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  