

h1 {
  
    size: 4px;
}

.title-h4 {
  color: #FF0095;
  font-size: 30px;
  margin: 100px 40px -160px 60px;
}

.card{
width: 75%;
height: 65%;
padding: 10px;
margin: 150px 40px 20px 20px;
background-color: #FF0095;

}

text, 
.fname,
.lname,
.subject {
color: azure;
margin: 10px 0px 60px -30px;
}


input, label {
  display: block;
}
 /* Style inputs with type="text", select elements and textareas  */
input[type=text], select, textarea {
  width: 100%;  
  padding: 10px;  
   border: 1px solid #ccc;  
   border-radius: 10px; 
   box-sizing: border-box; 
   margin: 10px 30px 30px 0px;
   resize: vertical; 
}    

 /* Style the submit button with a specific background color etc  */
 input[type=submit] {
  background-color:#3F729B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

/* When moving the mouse over the submit button, add a darker green color */
 input[type=submit]:hover {
  background-color: #3F729B; 
 } 

p {
  color: white;
}

.fllw-msg{
  margin: 10px 10px 10px 40px;
}

.bttm-btn {
  margin: 10px 0px 40px -80px;
}

.img-one{
  margin: 10px 10px 30px 100px;
}

.img-two {
  margin: 10px 60px 30px 0px;
}
