.header {
    position: fixed;
    top: 0%;
    max-width: 100%;
}


#navbarNavAltMarkup {
    color: rgb(244, 237, 237);
}

.navbar-toggler {
margin: -300px 0px 10px -90px;

}

.collapse, .navbar-collapse {
margin: -50px 20px 0px 0px;
}

.nav-link, .active {
    margin: 100px 0px 0px 10px;
}

.title {
   display: flex;
   justify-content: left;
   align-items: left;
   margin: auto;
}

h6 {
    color: #fff;
    font-size: 20px;
}