.header {
max-width: 1000px;
}

.nav,navbar-nav {
    position: relative;
    right: 200px;
    color: #fff;
}

#navbarNavAltMarkup {
    color: rgb(244, 237, 237);
}

.navbar-toggler, .navbar-collapse, .collapse, .sr-only {
    color: #fff;
}

.title {
   display: flex;
   justify-content: left;
   align-items: left;
   margin: auto;
}

h6 {
    color: #fff;
    font-size: 20px;
}