.header {
max-width: 1000px;
}

.navbar-nav {
    position: relative;
    right: 200px;
}

.navbar-toggler {
    color: #fff;
}

.title {
   display: flex;
   justify-content: left;
   align-items: left;
   margin: auto;
}

h6 {
    color: #fff;
    font-size: 20px;
}