
  .header {
    background-color: #141c26;
    box-sizing: border-box;
  
  }
  h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  color: rgb(255, 255, 255);
  margin-left: 5%;
  }
  
  h3 {
    color: #f3f6f8;
    font-size: 25px;
    margin-left: 60px;
  }
  
h4 {
  color: #FF0095
}
   
  /*.navbar {
    box-sizing: content-box;
    background-color: #0141c26;
    margin-top: auto;
  } */

  
  img {
    margin: 10px;
    padding-left: 0px;
    width: 30px;
    
  }
  
    h5 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color: #FF0095;
      border: 0px;
      margin: 20px 20px 20px 20px;
     
    }
    
    .left {
      text-align: left;
      display: block;
      justify-content: left;
      align-items: left;
      margin: auto;
      width: 100%;
    }
    
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #141c26;
      color: white;
      text-align: center;
   }
  
  