body {
 
  font-family: Arial, sans-serif;
  padding: 0px;
}

/* Header */

.header {
 
  box-sizing: border-box;
  align-self: center;
  max-width: 1440px;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Monserrat-Bold", sans-serif;
}

h1 {
  font-size: 55px;
  color: #f3f6f8;
}

h3 {
  color: #f3f6f8;
  font-size: 25px;
  margin-left: 60px;
}

h4 {
  margin: 10px;
  color: #fff;
}

h5 {
  font-family: "Monserrat-Black", sans-serif;
  font-size: 20px;
  color: #ff0095;
  border: 0px;
  margin: auto;
}

/* About Me */

.col {
  margin: 0px 20px 20px 0px;
}



.p-tag {
  max-width: 700px;
  display: flex;
  text-align: left;
  justify-content: right;
  margin: 40px 40px 0px 20px;
}


/* Footer */

.footer {
  position: fixed;
  left: 270;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

