

  .navbar {
    box-sizing: content-box;
    margin-top: auto;
  
  } 
  .column-md-8 {
    margin: 30px;
  }
h1 {
    size: 4px;
}
h2 {
  color: aliceblue;
}
h4 {
  color: white;
  font-size: 30px;
}
h5 {
  color:bisque
}
text {
color: azure;
}
fname {
color: azure;
}
lname {}

input, label {
  display: block;
}

input[type=text], select, textarea {
  width: 50%;  
  padding: 10px;  
   border: 1px solid #ccc;  
   border-radius: 10px; 
   box-sizing: border-box; 
   margin-top: 20px;  
   margin-bottom: 30px;  
   resize: vertical; 
}    


 input[type=submit] {
  background-color:#3F729B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 


 input[type=submit]:hover {
  background-color: #3F729B; 
 } 



p {
  color: white;
}

