body {
  background-color: #FF0095;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-fluid {
  max-width: 100%;
  height: 1000px;
}

h1, h3,h3 h4, h5 h6, p {
  font-family: "Monserrat Bold", sans-serif;
}
